[Desktop Entry]
Name=chromecognito
Exec=sh -c "HOME=$(mktemp -d) chromium --user-data-dir=$(mktemp -d) check.torproject.org"
Type=Application
Categories=GTK;GNOME;Utility;
